[user]
	name = 0xazure
	email = stuart.crust@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta --dark
[include]
	path = ~/.gitconfig.local
[push]
	default = upstream
[alias]
	branches = branch -a
	remotes = remote -v
	stashes = stash list
	tags = tag
	pr = "!f() { git fetch $1 pull/$2/head:pr/$2 && git checkout pr/$2; }; f"
	fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
[color]
	ui = 1
[pull]
	rebase = merges
[rerere]
	enabled = true
	autoupdate = true
[diff]
	compactionHeuristic = true
[submodule]
	fetchJobs = 4
[merge]
	conflictstyle = diff3
