# fish
fish/.config/*
!fish/.config/fish

fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/fish_variables
fish/.config/fish/fishd*

fish/.config/fish/local.fish

# Sublime Text
sublime/User/**/*.tmTheme

sublime/User/Package Control.last-run
sublime/User/Package Control.merged-ca-bundle
sublime/User/Package Control.system-ca-bundle
sublime/User/Package Control.user-ca-bundle
sublime/User/Package Control.cache

sublime/User/Color Highlighter

# tmux
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm

# vim
vim/.vim/*
!vim/.vim/.gitkeep
