[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "ruby/rbenv"]
	path = ruby/rbenv
	url = https://github.com/sstephenson/rbenv.git
	ignore = dirty
[submodule "ruby/rbenv-plugins/ruby-build"]
	path = ruby/rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "ruby/rbenv-plugins/communal-gems"]
	path = ruby/rbenv-plugins/communal-gems
	url = https://github.com/tpope/rbenv-communal-gems.git
[submodule "ruby/rbenv-plugins/default-gems"]
	path = ruby/rbenv-plugins/default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
