[user]
	name = {{ user_name | default(ansible_env['USER']) }}
	email = {{ user_email }}
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = matching
[credential]
	helper = GIT_CREDENTIAL_HELPER
[alias]
	branches = branch -a
	remotes = remote -v
	stashes = stash list
	pr = "!f() { git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1; }; f"
[color]
	ui = 1
[pull]
	rebase = preserve
[rerere]
	enabled = true
	autoupdate = true
